@model FrontEnd.Models.tbl_ClientTypes

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tbl_ClientTypes</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClientTypeID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClientTypeID)
            @Html.ValidationMessageFor(model => model.ClientTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TypeName)
            @Html.ValidationMessageFor(model => model.TypeName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PropertyList)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PropertyList)
            @Html.ValidationMessageFor(model => model.PropertyList)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsSNMPDevice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsSNMPDevice)
            @Html.ValidationMessageFor(model => model.IsSNMPDevice)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
