@model FrontEnd.Models.tbl_ClientTypes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tbl_ClientTypes</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClientTypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClientTypeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TypeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyList)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyList)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsSNMPDevice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsSNMPDevice)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ClientTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
