@model FrontEnd.Models.tbl_Interfaces

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tbl_Interfaces</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.InterfaceID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InterfaceID)
            @Html.ValidationMessageFor(model => model.InterfaceID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClientID, "tbl_Clients")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClientID", String.Empty)
            @Html.ValidationMessageFor(model => model.ClientID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InterfaceName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InterfaceName)
            @Html.ValidationMessageFor(model => model.InterfaceName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
