@model FrontEnd.Models.tbl_ClientInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tbl_ClientInfo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClientInfoID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClientInfoID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tbl_Clients.HostName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbl_Clients.HostName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeStamp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeStamp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OSVersion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OSVersion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DiskSpace)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiskSpace)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RAM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RAM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CPU)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPU)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ping)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ping)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsResponding)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsResponding)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
