@model IEnumerable<FrontEnd.Models.tbl_Clients>

@if (ViewBag.ErrorCount > 0) {
<h4>Clients currently not responding</h4>
    
<table class="alert">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Groups.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_ClientTypes.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IPAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DownTime)
        </th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Images/alert-icon.png" width="20" height="20"  />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Groups.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_ClientTypes.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HostName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IPAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DownTime)
        </td>
        <td>
            @Html.ActionLink("Stats", "../Clients/Details", new { id=item.ClientID })
        </td>
        <td>
            @Html.ActionLink("Disable Monitoring", "Disable", new { id=item.ClientID })
        </td>
    </tr>
}
</table>
} else {
    <h4>All is well - Have a nice day!</h4>
    <br />
    <img src="~/Images/happy.png" width="200" height="200" /> 
}