@model FrontEnd.Models.tbl_Processes

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tbl_Processes</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProcessID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProcessID)
            @Html.ValidationMessageFor(model => model.ProcessID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClientID, "tbl_Clients")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClientID", String.Empty)
            @Html.ValidationMessageFor(model => model.ClientID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProcessName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProcessName)
            @Html.ValidationMessageFor(model => model.ProcessName)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
